/* import google fonts start */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
/* import google fonts end */

/* apply google font to body */
body{
    font-family: 'Poppins', sans-serif;
    background-color: rgba(0, 181, 226, 0.2);

}

/* custom css for main input form */
.main-form{
    background-color: rgb(250, 235, 215, 0.98);
    border: 2px solid rgba(0, 181, 226, 0.2);
    border-radius: 10px;
}


/* Hiding increase/decrease arrow - chrome,edge,safari */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
/* Hiding increase/decrease arrow - Firefox */
input[type=number] {
    -moz-appearance: textfield;
}